
mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    mat-nav-list {
      .menu-item {
        margin-left: 8px;
      }

      .chevron-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
      }

      .chevron-button.rotated {
        transform: rotate(180deg);
      }
    }
  }
  mat-sidenav-content{
    position: sticky;
    .menu{
      padding: 10px;
      position: absolute;
      right: 20px;
    }
    .new-house{
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-end;
      .homeicon{
        margin-right: 5px;
      }
    }

    mat-toolbar{
      background: #cdefb8;
      height:100px;
    }
    button{
      background: transparent;
      border: none;
      font-size:0;
      cursor:pointer;
    }
  }
}
