<div class="home" id="top">
  <div class="title1">Otthon,</div>
  <div class="title2">édes otthon</div>
</div>
<mat-toolbar>
  <div class="menu" >
    <div class="menuitems">
        <span class="openmenu">
          <a mat-button routerLink="/menu/contact">Menü</a>
        </span>
    </div>
  </div>
</mat-toolbar>
<div class="menu-banner">
  <div class ="column">
    <div class="left-content">
      <h6>A projekt</h6>
      <h2>Otthon, édes otthon!</h2>
      <p>Ez a projekt a Szegedi Tudományegyetem Természettudományi és Informatikai karának Webfejlesztési
        keretrendszerek kurzusán jött létre. A projektmunka egy egyszerű CRUD (Create-Read-Update-Delete)
        alkalmazást jelent, amely egy előre kiválasztott témakör mentén adatokat hoz létre (C), olvas (R),
        módosít (U), töröl (D) a Firebase Cloud Firestore adatbázisában.
        A projekt témája: Eladó ingatlan kereső oldal.</p>
    </div>
    <div class="left-button">
      <a href="#top">Ugrás a tetejére</a>
    </div>
  </div>
  <div class="column">
    <div class="right-content">
      <img src="assets/house_menu.jpg" alt="">
    </div>
  </div>
</div>
<div class="menu-banner">
  <div class ="column">
    <div class="left-content">
     <span class="home-links">
          <a mat-button routerLink="/menu/contact">Kapcsolat</a>
        </span>
    </div>

  </div>
  <div class="column">
    <div class="right-content">
      <h6>Kapcsolat</h6>
      <h2>Kérdésed van?</h2>
      <p>Valami nem működik vagy elakadtál a pontozás során? A Kapcsolat fülön lévő elérhetőségeim
      közül bármelyiken kereshetsz. Személy szerint a Discordot jobban preferálom :)</p>
    </div>
    <div class="right-button">
      <a href="#top">Ugrás a tetejére</a>
    </div>
  </div>
</div>
<div class="menu-banner">
  <div class ="column">
    <div class="left-content">
      <h6>Máris kipróbálnád?</h6>
      <h2>Vágjunk bele!</h2>
      <p>A Menü gombra kattintva megnyílik előtted Magyarország legkirályabb ingatlan kereső oldala!
      Ha nem regisztráltál, tedd meg minél hamarabb, hiszen addig nem tudod megtekinteni az ingatlanokat
      és új hirdetést feladni! Jó javítást és sikeres vizsgaidőszakot kívánok!</p>
    </div>
    <div class="left-button">
      <a href="#top">Ugrás a tetejére</a>
    </div>
  </div>
  <div class="column" style="padding-left: 10px">
    <div class="right-content">
      <span class="home-links">
          <a mat-button routerLink="/menu/signup">Regisztráció</a>
        </span>
      <span class="home-links">
          <a mat-button routerLink="/menu/login">Bejelentkezés</a>
        </span>
    </div>
  </div>
</div>
